<nav class="navbar navbar-light">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/doctor/chemist']">
    <img src="../../assets/img/doc.svg" alt="logo" class="img-fluid logo" />
    </a>
    <div class="d-flex navbar-icon">
      <!-- <div>
        <button pButton pRipple type="button" icon="pi pi-bell"
          class="p-button-rounded p-button-success p-button-text"></button>
      </div> -->
      <div class="dropdown">
        <button pButton pRipple type="button" icon="pi pi-user"
          class="p-button-rounded p-button-info p-primary p-button-text" id="dropdownMenuLink"
          data-bs-toggle="dropdown" aria-expanded="false"></button>

          <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <li *ngIf="!LoggedUser"><a class="dropdown-item" [routerLink]="['/login']" routerLinkActive="router-link-active">Login</a></li>
            <!-- <li><hr class="dropdown-divider"></li> -->
            <li *ngIf="LoggedUser"><a class="dropdown-item" [routerLink]="['/doctor/order-history']" routerLinkActive="router-link-active" >Order History</a></li>
            <li *ngIf="LoggedUser"><hr class="dropdown-divider"></li>
            <li *ngIf="LoggedUser"><a class="dropdown-item" href="#" (click)="logOut()">Log Out</a></li>
          </ul>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>
