<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card" style="border-radius: 1rem;">
            <div class="card-body p-5">
  
              <div class="mb-md-5 mt-md-4">
  
                <h2 class="fw-bold mb-2 text-uppercase">Reset Password</h2>
                <p class=" mb-5">Please enter your passwords.</p>
        
                <div class="p-fluid grid">
                  <div class="field mb-4">
                    <span class="p-float-label">
                      <input type="password" id="inputtext" pInputText [(ngModel)]="currentEncCode">
                      <label for="inputtext">Current Password</label>
                    </span>
                  </div>
                  <div class="field mb-4 mt-2">
                    <span class="p-float-label">
                      <input type="password" id="inputtext" pInputText [(ngModel)]="newEncCode">
                      <label for="inputtext">New Password</label>
                    </span>
                  </div>
                  <div class="field mb-4 mt-2">
                    <span class="p-float-label">
                      <input type="password" id="inputtext" pInputText [(ngModel)]="cNewEncCode">
                      <label for="inputtext">Confirm New Password</label>
                    </span>
                  </div>
                </div>
  
                <div class="text-center mt-4">
                <button pButton type="button" pRipple label="Submit" [disabled]="!currentEncCode || !newEncCode || !cNewEncCode" (click)="submit()"></button>
                </div>
              </div>
            </div>
  
          </div>
        </div>
      </div>
    </div>
  </section>
  
  